nav {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(-90deg) translate3d(-50%,0,0);
  top: 15%;
  left: -8.5rem;
}
nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #575757;
}
nav a:hover {
  margin-right: 20px;
  text-decoration: none;
  color: #E2BF36;
}
nav a.active {
  color: #E2BF36;
}

.makeStyles-svg-2{
  left: 30px !important;
}

.makeStyles-svg-22{
  left: 30px !important;
}

.makeStyles-socialIcons-15{
  z-index: 1;
}

.makeStyles-iconButton-6{
  z-index: 1;
}

.makeStyles-socialIcons-17{
  z-index: 1;
}

@media screen and (max-width: 480px){
  #works .description{
    width: 80%;
  }

  #contact .contact_msg{
    font-size: 3rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #skills .row{
    margin-left: 2.45rem;
    margin-right: 0;
    width: 80%;
  }
  
  #skills .MuiTypography-h5{
    margin-left: 4.3rem;
  }

  .MuiSpeedDial-root{
    right: 25px !important;
  }

  .MuiIconButton-root{
    right: 25px !important;
  }

  .MuiLink-underlineNone {
    left: 28px !important;
  }
}